/* PHOTOS */
img.photo_big {
  width: 100px;
  height: 120px;
}
img.photo {
  width: 100px;
  height: 120px;
}
img.photo_small {
  width: 4em;
  height: 5em;
}

img.photo_tiny {
  width: 2em;
  height: 2.5em;
}

ul.vote-list {
  padding: 0;
  margin: 0;
  list-style: none;
  //width: 800px;
  //height: auto;
  //position: relative;
  //z-index: 10;
}

ul.vote-list li {
  //display:inline;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  width: 220px;
  height: auto;
  float: left;
  border: 1px solid #999;
  margin: 0 15px 15px 0;
  padding: 5px;
}

div.student-card {
  margin: 2px;
  //border: 1px solid #0000ff;
}

div.student-name {
  text-align: center;
  //font-weight: bold;
  width: 200px;
  height: 60px;
  margin: 2px;
}

div.student-photo {
	text-align: center;
}

#cardlist {
	position: relative;
}

#cardlist ul#grid {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;	
}

#cardlist li.card {
  //display:inline;
  background-color: white;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  width: 220px;
  height: 320px;
  float: left;
  border: 1px solid #999;
  margin: 0 15px 15px 0;
  padding: 5px;	
}

#cardlist li.item .cell {
    padding: 9px 9px 7px;
}

.image-photo {
    //display: inline-block;
    //max-width: 100%;
    //position: relative;
    //horizontal-align: middle;
    //vertical-align: bottom;
}